{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": { "browsers": "last 2 versions" } }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-syntax-decorators", {"decoratorsBeforeExport": true}],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-jsx"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}
