@import 'app/styles/constants';

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: $main-spacing;

  .signup__icon {
    height: $logo-large-height;
  }

  .signup__title {
  }

  .signup__login {
    .signup__login-link {
      margin-left: $text-spacing;
    }
  }

  .signup__birthday {
    .MuiButtonBase-root {
      color: $main-color;
    }
  }

  .signup__accept-user-agreement {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .signup__vk-icon {
    margin-right: $text-spacing;
  }
}
