celery==4.4.2
channels-redis==2.4.2
channels==2.4.0
coreapi==2.3.3
django-allauth==0.41.0
django-cors-headers==3.2.1
django-extensions==2.2.9
django-extra-fields==2.0.3
django-filter==2.2.0
django-health-check==3.12.1
django-redis-cache==2.1.0
django-rest-auth==0.9.5
django-rest-swagger==2.2.0
django==3.0.5
djangorestframework==3.11.0
drf-nested-routers==0.91
drf-writable-nested  # TODO
psutil==5.7.0
psycopg2==2.8.5
Pillow==7.1.1
redis==3.4.1
