bandit==1.5.1
flake8-bugbear==18.8.0
flake8-comprehensions==2.0.0
flake8-per-file-ignores==0.8.1
flake8-strict==0.2.1
flake8==3.5.0
pip-tools==3.4.0
pyenchant==2.0.0  # For pylint spelling
pylint-args==0.0.5
pylint-celery==0.3
pylint-django==2.0.5
pylint==2.2.2
pytest==4.3.0
sentry-flake8==0.0.2
yapf==0.26.0

