[supervisord]
nodaemon=true
user=root
minprocs=200
pidfile=/var/run/app/supervisord/supervisord.pid
logfile=/var/log/app/supervisord/supervisord.log
logfile_maxbytes=50MB
logfile_backups=10
loglevel=info
childlogdir=/var/log/app/supervisord/

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///var/run/app/supervisord/supervisord.sock

[unix_http_server]
file=/var/run/app/supervisord/supervisord.sock

[program:nginx]
command=nginx -c /etc/app/nginx.conf
stopasgroup=true
user=root
autostart=true
autorestart=true
stopsignal=INT

[program:gunicorn]
command=gunicorn wsgi:application --config=/etc/app/gunicorn.conf.py
directory=/usr/src/app/project
stdout_logfile=/var/log/app/gunicorn/gunicorn.log
stderr_logfile=/var/log/app/gunicorn/gunicorn_error.log
stopasgroup=true
user=root
autostart=true
autorestart=true
stopsignal=INT

[fcgi-program:asgi]
socket=unix:/var/run/app/daphne/daphne.sock
command=daphne -u /var/run/app/daphne/daphne%(process_num)d.sock --fd 0 --access-log - --proxy-headers asgi:application
numprocs={{ multiprocessing.cpu_count() * 2 + 1 }}
process_name=asgi%(process_num)d
directory=/my/app/path
stdout_logfile=/var/log/app/daphne/daphne.log
stderr_logfile=/var/log/app/daphne/daphne_error.log
stopasgroup=true
user=root
autostart=true
autorestart=true
stopsignal=INT
