$main-color: #000000;
$bg-color: #ffffff;
$secondary-bg-color: #fafafa;
$text-color: #ffffff;
$text-color-secondary: #999999;

$error-color: #d32f2f;
$warning-color: #ffa000;
$info-color: #1976d2;
$success-color: #43a047;

$font-weight: 400;
$font-size: 16px/23px;
$font-family: Roboto, Helvetica, Arial, sans-serif;

$font-weight-header: 400;
$font-size-header: 20px;
$font-family-header: $font-family;

$font-monospace: "Roboto Mono Light for Powerline", Monaco, "Courier New", Courier, monospace;

$vk-color:  #436EAB;

$main-spacing: 15px;
$text-spacing: 10px;

$logo-large-height: 40px;
$icon-size: 20px;

$background-dot-size: 5px;
$background-dot-space: 10px;
$header-height: 60px;
