$main-color: #000000;
$bg-color: #ffffff;
$secondary-bg-color: #fafafa;
$text-color: #ffffff;
$text-color-secondary: #999999;

$font: 400 16px/23px Roboto, Helvetica, Arial, sans-serif;
$font-header: 400 20px Roboto, Helvetica, Arial, sans-serif;
$font-monospace: "Roboto Mono Light for Powerline", Monaco, "Courier New", Courier, monospace;
